<%- include('head') %>
<%- include('navbar') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-5">   
      <h1 class="text-center">Agenda</h1>
      <p class="text-center lead">Seus contatos estão abaixo:</p>

      <div class="row">
        <div class="col my-3">
          <div class="alert alert-danger">Ocorreu um erro</div>
        </div>
      </div>

      <div class="responsive-table">
        <table class="table my-3">
          <tr>
            <td>Levy</td>
            <td>Sampaio</td>
            <td>(41) 9 99221-9312</td>
            <td>levysampaio@live.com</td>
          </tr>
        </table>
      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('footer') %>
